{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cornershop | Lunch App</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/lunch/css/main.css" />
  </head>
  <body>
    <div class="container mx-auto text-center">
      <div class="w-full max-w-xs">
        Orders can only be requested before 11AM CLT
      </div>
    </div>
  </body>
</html>
